<div class="your-post">
  <div class="your-post-title">
    <p>
      {{this.title}}
    </p>
  </div>
  <div class="your-post-date">
    <p>
      {{format_date this.createdAt}}
    </p>
  </div>
</div>