<div class="gen-container">
  <div class="gen-header">
    <p class="gen-title" style="color:white">{{this.title}}</p>
    <p class="post-details">Posted by {{this.user.username}} on {{format_date this.createdAt}}</p>
  </div>
  <div class="post-text">
    <p>
      {{this.body}}
    </p>
  </div>
</div>