<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Campbell's Tech Haven</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  </head>
  <body>
    
    <header>
      <div class="nav">
        <a href="/" class="links" id="home-link">Home</a>

        {{!-- {{#if loggedIn}} --}}
        <a href="/dashboard" class="links" id="dashboard-link">Dashboard</a>
        {{!-- <button class="links" id="logout">Logout</button> --}}
        {{!-- {{else}} --}}
        <a href="/login" class="links">Login</a>
        {{!-- {{/if}} --}}
      </div>
      
      <div id="logo">
        <h1>The Tech Haven</h1>
      </div>
    </header>

    <main>
      {{{ body }}}
    </main>

  </body>
</html>