  {{#if posts.length}}
  {{#each posts as |post|}}
  {{> post-info-nonlink post}}
  {{/each}}
  {{/if}}

<div class="gen-container">
  <div class="comment-body">

    <form class="comment-form">
      <div class="gen-div">
        <label id="comment-label" for="comment">Comment</label><br>
      </div>

      <textarea id="comment"></textarea>
      <br>
      <input class="submit-comment" type="submit" value="Submit">
    </form>

  </div>
</div>

<script src="/javascript/add-comment.js"></script>

