  {{#if posts.length}}
  {{#each posts as |post|}}
  {{> post-info-nonlink post}}
  {{/each}}
  {{/if}}

<div class="gen-container">
  <div class="comment-body">

    <form class="comment-form">
      <div class="gen-div">
        <label id="comment-label" for="comment">Comment</label><br>
      </div>

      <textarea id="comment"></textarea>
      <br>
      <input class="submit-comment" type="submit" value="Submit">
    </form>

  </div>
</div>

<div id="comment-block">
  {{#each posts as |post|}}

  <div>{{post.comments.length}}</div>
  {{#if post.comments.length}}
  {{#each post.comments as |comment|}}
  {{> comment-info comment}}
  {{/each}}
  {{/if}}

  {{/each}}
</div>

<div id="user_id" style="display: none">{{user_id}}</div> 

<script src="/javascript/add-comment.js"></script>

