<div class="gen-container">
  <div class="gen-header">
    <p class="gen-title">Create New Post</p>
  </div>
  <div class="comment-body">
    <form class="post-form">
      <div class="form-div">
        <label for="create-title">Title</label><br>
      </div>
      <input type="text" id="create-title" name="create-title"><br>

      <div class="form-div">
        <label id="content-label" for="content">Content</label><br>
      </div>
      <textarea id="content"></textarea>
      <br>
      <input class="submit-content" type="submit" value="Submit">
    </form>
  </div>
</div>

<script src="/javascript/add-post.js"></script>
