<div class="post-canvas">

  {{#if posts.length}}
  {{#each posts as |post|}}
  {{> my-posts post}}
  {{/each}}
  {{/if}}

  <div class="center-div">
    <a href="/dashboard/createpost">
      <button class="new-post-button">+ New Post</button>
    </a>
  </div>

</div>