<div class="gen-container">
  <div class="gen-header">
    <p class="gen-title">Edit Post</p>
  </div>
  <div class="comment-body">
    <form>
      <div class="gen-div">
        <label for="create-title">Title</label><br>
      </div>
      <input type="text" id="create-title" name="create-title"><br>

      <div class="gen-div">
        <label id="content-label" for="content">Content</label><br>
      </div>
      <textarea id="content"></textarea>
      <br>
      <input class="update-post" type="submit" value="Update Post">
      <input class="delete" type="submit" value="Delete">
    </form>
  </div>
</div>

<div class="center-div">
  <button class="new-post-button">+ New Post</button>
</div>