<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Campbell's Tech Haven</title>
  <link rel="stylesheet" href="../public/stylesheets/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
  
  <header>
    <div class="nav">
      <a href="/home" class="links" id="home-link">Home</a>
      <a href="/dashboard" class="links" id="dashboard-link">Dashboard</a>
      <!-- <button class="links" id="logout">Logout</button> -->
      <a href="/login" class="links">Login</a>
    </div>
    
    <div id="logo">
      <h1>The Tech Haven</h1>
    </div>
  </header>

  
  <!-- POST -->
  <!-- 
  <div class="gen-container">
    <div class="gen-header">
      <p class="gen-title">Why MVC is so important</p>
      <p class="post-details">Posted by Campbell on 5/21/21</p>
    </div>
    <div class="post-text">
      <p>
        Heya Heeya do that thang yo you got this and that
      </p>
    </div>
  </div>

  <div class="gen-container">
    <div class="gen-header">
      <p class="gen-title">Why MVC is so important</p>
      <p class="post-details">Posted by Campbell on 5/21/21</p>
    </div>
    <div class="post-text">
      <p>
        Heya Heeya do that thang yo you got this and that
        The min-height property defines the minimum height of an element.
        If the content is smaller than the minimum height, the minimum height will be applied.
        If the content is larger than the minimum height, the min-height property has no effect.
        Note: This prevents the value of the height property from becoming smaller than min-height.
      </p>
    </div>
  </div> -->




  <!-- LOGIN -->
  <!-- <div class="gen-container">
    <div class="gen-header">
      <p class="gen-title">Login</p>
    </div>
    <div class="login-body">
      <form>
        <label for="username">Username</label><br>
        <input type="text" id="username" name="username"><br>
        <br>
        <label for="password">Password</label><br>
        <input type="text" id="password" name="password"><br>
        <input class="submit" type="submit" value="Login!">
      </form>
      <div class="alt-div">
        <a href="/signup" class="alt-link">Sign up instead!</a>
      </div>
    </div> 
  </div> -->




  <!-- SIGN UP -->
  <!-- <div class="gen-container">
    <div class="gen-header">
      <p class="gen-title">Sign Up</p>
    </div>
    <div class="login-body">
      <form>
        <label for="signup-username">Username</label><br>
        <input type="text" id="signup-username" name="signup-username"><br>
        <br>
        <label for="signup-password">Password</label><br>
        <input type="text" id="signup-password" name="signup-password"><br>
        <input class="submit" type="submit" value="Sign up!">
      </form>
      <div class="alt-div">
        <a href="/login" class="alt-link">Login instead!</a>
      </div>
    </div>
  </div> -->




  <!-- Add Comment -->
  <!-- <div class="gen-container">
    <div class="gen-header">
      <p class="gen-title">Why MVC is so important</p>
      <p class="post-details">Posted by Campbell on 5/21/21</p>
    </div>
    <div class="post-text">
      <p>
        Heya Heeya do that thang yo you got this and that
      </p>
    </div>
  </div>

  <div class="gen-container">
    <div class="gen-header"></div>
    <div class="comment-body">
      <form>
        <div class="gen-div">
          <label id="comment-label" for="comment">Comment</label><br>
        </div>
        <textarea id="comment"></textarea>
        <br>
        <input class="submit-comment" type="submit" value="Submit">
      </form>
    </div>
  </div> -->




  <!-- Single Blog Page -->
  <!-- <div class="gen-container">
    <div class="gen-header">
      <p class="gen-title">Why MVC is so important</p>
      <p class="post-details">Posted by Campbell on 5/21/21</p>
    </div>
    <div class="post-text">
      <p>
        Heya Heeya do that thang yo you got this and that
      </p>
    </div>
  </div>

  <div class="gen-container">
    <div class="gen-header">
    </div>
    <div class="post-text">
      <p>
        Heya Heeya do that thang yo you got this and that
      </p>
      <p>
        --Campbell, 5/8/20
      </p>
    </div>
  </div> -->



  <!-- Create Post -->

  <!-- <div class="gen-container">
    <div class="gen-header">
      <p class="gen-title">Create New Post</p>
    </div>
    <div class="comment-body">
      <form>
        <div class="gen-div">
          <label for="create-title">Title</label><br>
        </div>
        <input type="text" id="create-title" name="create-title"><br>

        <div class="gen-div">
          <label id="content-label" for="content">Content</label><br>
        </div>
        <textarea id="content"></textarea>
        <br>
        <input class="submit-content" type="submit" value="Submit">
      </form>
    </div>
  </div>

  <div class="center-div">
    <button class="new-post-button">+ New Post</button>
  </div>
   -->

  <!-- Your Posts -->

  <div class="post-canvas">
    <div class="your-post">
      <div class="your-post-title">
        <p>
          Object-Relational Mapping
        </p>
      </div>
      <div class="your-post-date">
        <p>
          5/8/20
        </p>
      </div>
    </div>
  </div>

  <!-- Edit Post -->

  <div class="gen-container">
    <div class="gen-header">
      <p class="gen-title">Edit Post</p>
    </div>
    <div class="comment-body">
      <form>
        <div class="gen-div">
          <label for="create-title">Title</label><br>
        </div>
        <input type="text" id="create-title" name="create-title"><br>

        <div class="gen-div">
          <label id="content-label" for="content">Content</label><br>
        </div>
        <textarea id="content"></textarea>
        <br>
        <input class="update-post" type="submit" value="Update Post">
        <input class="delete" type="submit" value="Delete">
      </form>
    </div>
  </div>

  <div class="center-div">
    <button class="new-post-button">+ New Post</button>
  </div>






</body>
</html>