<div class="gen-container">
  <div class="gen-header">
    <p class="gen-title">Login</p>
  </div>
  <div class="login-body">
    <form class="login-form">
      <label for="username">Username</label><br>
      <input type="text" id="username" name="username"><br>
      <br>
      <label for="password">Password</label><br>
      <input type="text" id="password" name="password"><br>
      <input class="submit" type="submit" value="Login!">
    </form>
    <div class="alt-div">
      <a href="/signup" class="alt-link">Sign up instead!</a>
    </div>
  </div> 
</div>

<script src="/javascript/login.js"></script>