<div class="gen-container">
  <div class="gen-header">
    <p class="gen-title">Sign Up</p>
  </div>
  <div class="login-body">
    <form>
      <label for="signup-username">Username</label><br>
      <input type="text" id="signup-username" name="signup-username"><br>
      <br>
      <label for="signup-password">Password</label><br>
      <input type="text" id="signup-password" name="signup-password"><br>
      <input class="submit" type="submit" value="Sign up!">
    </form>
    <div class="alt-div">
      <a href="/login" class="alt-link">Login instead!</a>
    </div>
  </div>
</div>