{{#if posts.length}}
{{#each posts as |post|}}

{{> post-info-nonlink post}}

<div id="comment-block">
  {{#if post.comments.length}}
  {{#each post.comments as |comment|}}
  {{> comment-info comment}}
  {{/each}}
  {{/if}}

  {{/each}}
  {{/if}}
</div>

